.about-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 98vh;
}

.about-left {
  grid-column: 1;
  background-color: black;
}

.profile-container {
  justify-self: center;
}

.profile-pic {
  width: 50%;
  border-radius: 2rem;
  margin: 15% 0 0 25%;
}

.about-right {
  grid-column: 2;
  background-color: #ecddde;
}

.about-description {
  font-size: 20px;
  text-align: center;
  padding: 0 2rem;
}

.about-description.one {
  padding-top: 5rem;
}

.about-description.two {
  padding-top: 2rem;
}

@media only screen and (max-width: 450px) {

  .about-container {
    display: flex;
    flex-direction: column;
  }
 
  .about-left {
    height: 50vh;
  }

  .profile-pic {
    margin-bottom: 15%;
  }

  .about-right {
    padding: 2rem;
  }

  .about-description {
    font-size: 15px;
  }

  .about-description.one {
    padding: 0 0;
  }
 }
