.contact {
  text-align: center;
  font-size: 30px;
  background-color: #ecddde ;
  padding: 2rem 0;
}

.contact_me{
  margin-bottom: 1rem;
}

.icons {
  height: 4%;
  width: 4%;
  padding-top: 60px;
  padding: 10px;
}

@media only screen and (max-width: 450px) {

  .contact {
    font-size: 25px;
  }
  
  .icons {
    height: 15%;
    width: 15%;
  }

  
 }
