.home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 60vh;
}

.home-left {
  grid-column: 1;
  background-color: #ecddde;
}

.home-left-sub {
  text-align: center;
  align-content: center;
  padding: 15rem 0;
}

.home-title {
  font-size: 40px;
}

.home-description {
  font-size: 35px;
}

.home-right {
  grid-column: 2;
  background-color: black;
}
.home-pic-container {
  margin-left: 5rem;
}

.illustration {
  width: 90%;
}
