.home-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 95vh;
  margin-top: 3rem;
}

.home-left {
  grid-column: 1;
  background-color: #ecddde;
}

.home-left-sub {
  text-align: center;
  align-content: center;
  padding: 15rem 0;
}

.home-title {
  font-size: 30px;
}

.home-description {
  font-size: 25px;
}

.home-right {
  grid-column: 2;
  background-color: black;
}

.home-pic-container {
  margin-left: 5rem;
  margin-top: 5rem;
}

.illustration {
  width: 90%;
}

@media only screen and (max-width: 450px) {

 .home-container {
   display: flex;
   flex-direction: column;
   background-color: #ecddde;
   height: 80vh;
 }

 .home-title {
   font-size: 20px;
 }

 .home-description {
   font-size: 12px;
 }

 .home-right {
   display: none;
 }

}
