.project-container {
  height: 100%;
  background-color: black;
}

.project-title {
  font-size: 40px;
  color: #ecddde;
  text-align: center;
  padding-top: 5rem;
}

hr {
  width: 20%;
  background-color: #ecddde;
}

.card-columns {
  padding: 2rem 10rem;
}

.card {
  background-color: #ecddde !important;
}

.card-title.h5 {
  font-size: 25px;
  font-weight: 500;
}

.card-text {
  font-size: 18px;
}

.list-group-item {
  border: none !important;
  background-color: #ecddde !important;
}

.card-link {
  font-size: 15px;
}

@media only screen and (max-width: 450px) {

  .project-title {
    font-size: 25px;
    padding-top: 8rem;
  }

  .card-columns {
    padding: 2rem 6rem;
  }

  .card {
    width: 15rem;
  }

  .card-title.h5 {
    font-size: 20px;
  }

  .card-text {
    font-size: 15px;
  }


 }
